body {
    margin-top: 20px;
}

.card-big-shadow {
    max-width: 320px;
    position: relative;
}

.coloured-cards .card {
    margin-top: 30px;
}

.card[data-radius="none"] {
    border-radius: 0px;
}

.card {
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
    background-color: #ffffff;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

.card.card-just-text .content {
    text-align: top;
}

.card .content {
    padding: 20px 20px 10px 20px;
    color: #000000;
}

.category {
    color: #bd1616;
}

.card .category,
.card .label {
    font-size: 25px;
    margin-bottom: 0px;
}

.card-big-shadow:before {
    background-image: url("http://static.tumblr.com/i21wc39/coTmrkw40/shadow.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    bottom: -12%;
    content: "";
    display: block;
    left: -12%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.card .description {
    font-size: 16px;
    color: #66615b;
}

.content-card {
    margin-top: 30px;
}

a:hover,
a:focus {
    text-decoration: none;
}


/*avatar===========*/

.avatar {
    vertical-align: top;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.avatar1 {
    vertical-align: top;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.icon {
    vertical-align: top;
    border-radius: 50%;
}


/* end avatar===========*/


/*======== COLORS ===========*/

.card.card-just-text {
    background: #b6c7c9f6;
}

.category {
    color: #000000;
}